.w3-bar img {
  position: absolute;
  top: 0;
  left: 20px;
  width: 75px; /* Adjust width and height as needed */
  height: 60px;
}

.w2-container{
	background-color: black;
	margin-top: 200px;
	color: white;
}

.w1-container {
  margin-bottom: 20px; /* Adjust the value to increase or decrease the gap */
}

